footer{
    background-color: #E1EDE6;
    @extend %display;
    padding-top: 1%;

    .basement_elem1{
        display: flex;
        flex-direction: column;
        margin-left: 7%;

        .logo{
            @extend %display;
            margin-top: 13%;
            margin-bottom: 15%;

            p{
                color: #598D66;
                font-size: 20px;
                font-weight: 700;
            }

            p, img{
                margin: auto;
            }
        }

        & p:nth-of-type(1){
            font-size: 20px;
        }

        & p:nth-of-type(2){
            font-size: 18px;
            color: #86928B;
            margin-top: -4%;
        }
    }

    .basement_elem2{
        @extend %display;

        .line{
            display: none
        }

        .basement_elem3{
            @extend %display;
        }

        .repr{
            margin-left: 30%;
    
            & p:first-child{
                font-size: 20px;
            }
    
            & p:nth-of-type(2), & p:nth-of-type(3), & p:last-child{
                font-size: 18px;
                color: #86928B;
            }
        }
    
        .new, .about_us{
            @extend %new_about_us;
        }
    
        .icon{
            margin-top: 5%;
            position: relative;
            left: 450px;
    
            .icon_elem1{
                @extend %display;
            }
    
            & i{
                font-size: 120%;
            }
    
            & p{
                font-size: 12px;
                color: #86928B;
                white-space: nowrap;
            }
    
            & i:first-child, & i:nth-of-type(2){
                margin-right: 20%;
            }
        }
    }
}

.basement_media{
    display: none;
}