.canvas{
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;

    .gradient{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
        .main_picture{
            filter: saturate(110%);
        }
    
        .background_picture{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-size: cover;
            background: linear-gradient(to right, rgba(1, 1, 2, 0.75) 0%, rgba(13, 43, 67, 0.90) 45%, rgba(0, 0, 0, 0.1) 65%);
            filter: contrast(120%);
        
            height: 100%;
        }
         
        .filter{
            opacity: 0.4;
            height: 100%;
        }
    }

    .new_collection{
        display: flex;
        flex-direction: column;
        color: white;
        position: absolute;
        top: 0;
        margin-top: 4%;

        & p:nth-of-type(1){
            font-size: 18px;
            line-height: 1.75;
            margin-top: 5%;
        }

        & p:nth-of-type(2){
            font-size: 18px;
            line-height: 1.70;
            margin-top: 1.5%;
        }

        & p:nth-of-type(3){
            font-size: 20px;
            color: #2C2D35;
            border: #EEDB6D solid;
            background-color: #EEDB6D;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 60px;
            max-width: 195px;
            margin-top: 7.5%;
        }
        
        .new_collection_elem1{
            @extend %display;

            & p:nth-of-type(1){
                font-size: 40px;
                margin-left: 7%;
                line-height: 1;
            }

            & p:nth-of-type(1), & img{
                margin: auto;
            }
        }
    }
}

.canvas_media{
    display: none
}