@charset "UTF-8";
header {
  background-color: #E1EDE6;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
header .logo1 {
  margin-left: 10%;
}
header .logo1 p {
  font-size: 20px;
  font-weight: 700;
  color: #598D66;
}
header .logo1 img, header .logo1 p {
  margin: auto;
}
header .line_header {
  display: none;
}
header .navigation {
  margin-left: auto;
  margin-right: 7%;
}
header .navigation p, header .navigation i {
  margin: auto;
  font-size: 20px;
}
header .navigation p:first-child {
  margin-left: -70%;
}

.menu img {
  margin-left: 2%;
}
.menu .menu_elem1 {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.menu .menu_elem1 p:first-child {
  font-size: 60px;
  margin-bottom: 5%;
  margin-top: 20%;
}
.menu .menu_elem1 p:nth-of-type(2) {
  font-size: 18px;
  color: #86928B;
  line-height: 27px;
}
.menu .menu_elem1 p:last-child {
  font-size: 20px;
  color: #598D66;
  border: #598D66 solid;
  margin-top: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  max-width: 165px;
}
.menu .menu_elem1 span {
  color: #598D66;
}

.reproduction p:first-child {
  font-size: 40px;
  margin-left: 2%;
}
.reproduction .reproduction_elem1 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 1%;
}
.reproduction .reproduction_elem1 p:first-child, .reproduction .reproduction_elem1 p:nth-of-type(2), .reproduction .reproduction_elem1 p:last-child {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin: auto;
}
.reproduction .reproduction_elem1 p:nth-of-type(1) {
  background-color: #376B44;
  color: white;
  border: #376B44 solid;
  margin-left: -30%;
}
.reproduction .reproduction_elem1 p:nth-of-type(2) {
  background-color: #D4E8D9;
  border: #D4E8D9 solid;
}
.reproduction .reproduction_elem1 p:last-child {
  margin-left: auto;
  background-color: #D4E8D9;
  border: #D4E8D9 solid;
  margin-right: 2%;
}

.picture_stroke1 {
  margin-left: -6%;
  margin-right: -6%;
}
.picture_stroke1 .picture_stroke1_elem1, .picture_stroke1 .picture_stroke1_elem2, .picture_stroke1 .picture_stroke1_elem3 {
  width: 310px;
}
.picture_stroke1 .picture_stroke1_elem1 img, .picture_stroke1 .picture_stroke1_elem2 img, .picture_stroke1 .picture_stroke1_elem3 img {
  width: 100%;
}

.picture_stroke2 {
  margin-top: 4%;
  margin-left: -6%;
  margin-right: -6%;
}
.picture_stroke2 .picture_stroke2_elem1, .picture_stroke2 .picture_stroke2_elem2, .picture_stroke2 .picture_stroke2_elem3 {
  width: 310px;
}
.picture_stroke2 .picture_stroke2_elem1 img, .picture_stroke2 .picture_stroke2_elem2 img, .picture_stroke2 .picture_stroke2_elem3 img {
  width: 100%;
}

.picture_stroke1_media, .picture_stroke2_media, .picture_stroke3_media {
  display: none;
}

.canvas {
  position: relative;
  margin-top: 4%;
  margin-bottom: 4%;
}
.canvas .gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.canvas .gradient .main_picture {
  filter: saturate(110%);
}
.canvas .gradient .background_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-size: cover;
  background: linear-gradient(to right, rgba(1, 1, 2, 0.75) 0%, rgba(13, 43, 67, 0.9) 45%, rgba(0, 0, 0, 0.1) 65%);
  filter: contrast(120%);
  height: 100%;
}
.canvas .gradient .filter {
  opacity: 0.4;
  height: 100%;
}
.canvas .new_collection {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 0;
  margin-top: 4%;
}
.canvas .new_collection p:nth-of-type(1) {
  font-size: 18px;
  line-height: 1.75;
  margin-top: 5%;
}
.canvas .new_collection p:nth-of-type(2) {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 1.5%;
}
.canvas .new_collection p:nth-of-type(3) {
  font-size: 20px;
  color: #2C2D35;
  border: #EEDB6D solid;
  background-color: #EEDB6D;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  max-width: 195px;
  margin-top: 7.5%;
}
.canvas .new_collection .new_collection_elem1 p:nth-of-type(1) {
  font-size: 40px;
  margin-left: 7%;
  line-height: 1;
}
.canvas .new_collection .new_collection_elem1 p:nth-of-type(1), .canvas .new_collection .new_collection_elem1 img {
  margin: auto;
}

.canvas_media {
  display: none;
}

.our_team {
  margin-bottom: 5%;
}
.our_team .our_team_elem1 {
  margin-left: 2%;
  margin-top: 7%;
}
.our_team .our_team_elem1 p:first-child {
  font-size: 40px;
  margin-bottom: 5%;
}
.our_team .our_team_elem1 p:last-child {
  font-size: 18px;
  line-height: 1.75px;
}
.our_team .our_team_elem1 .ellipse {
  margin-top: 5%;
}
.our_team .our_team_elem1 .ellipse p:nth-of-type(1), .our_team .our_team_elem1 .ellipse p:nth-of-type(2), .our_team .our_team_elem1 .ellipse p:nth-of-type(3) {
  width: 80px;
  height: 80px;
  background: #D9D9D9;
  border-radius: 50%;
  margin: auto;
}
.our_team .our_team_elem1 .ellipse p:nth-of-type(1) {
  background-image: url("../style/pictures/Работник 1.png");
  background-size: contain;
  margin-left: 0;
}
.our_team .our_team_elem1 .ellipse p:nth-of-type(2) {
  background-image: url("../style/pictures/Работник 2.jpg");
  background-size: contain;
  margin-left: -35%;
  margin-right: -35%;
}
.our_team .our_team_elem1 .ellipse p:nth-of-type(3) {
  background-image: url("../style/pictures/Работник 3.jpg");
  background-size: contain;
}

footer {
  background-color: #E1EDE6;
  padding-top: 1%;
}
footer .basement_elem1 {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}
footer .basement_elem1 .logo {
  margin-top: 13%;
  margin-bottom: 15%;
}
footer .basement_elem1 .logo p {
  color: #598D66;
  font-size: 20px;
  font-weight: 700;
}
footer .basement_elem1 .logo p, footer .basement_elem1 .logo img {
  margin: auto;
}
footer .basement_elem1 p:nth-of-type(1) {
  font-size: 20px;
}
footer .basement_elem1 p:nth-of-type(2) {
  font-size: 18px;
  color: #86928B;
  margin-top: -4%;
}
footer .basement_elem2 .line {
  display: none;
}
footer .basement_elem2 .repr {
  margin-left: 30%;
}
footer .basement_elem2 .repr p:first-child {
  font-size: 20px;
}
footer .basement_elem2 .repr p:nth-of-type(2), footer .basement_elem2 .repr p:nth-of-type(3), footer .basement_elem2 .repr p:last-child {
  font-size: 18px;
  color: #86928B;
}
footer .basement_elem2 .icon {
  margin-top: 5%;
  position: relative;
  left: 450px;
}
footer .basement_elem2 .icon i {
  font-size: 120%;
}
footer .basement_elem2 .icon p {
  font-size: 12px;
  color: #86928B;
  white-space: nowrap;
}
footer .basement_elem2 .icon i:first-child, footer .basement_elem2 .icon i:nth-of-type(2) {
  margin-right: 20%;
}

.basement_media {
  display: none;
}

.picture_stroke1 .picture_stroke1_elem1, .picture_stroke1 .picture_stroke1_elem2, .picture_stroke1 .picture_stroke1_elem3, .picture_stroke2 .picture_stroke2_elem1, .picture_stroke2 .picture_stroke2_elem2, .picture_stroke2 .picture_stroke2_elem3 {
  border: #E1EDE6 solid;
  background-color: #E1EDE6;
  padding: 2%;
  margin: auto;
}
.picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(1), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(1), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(1) {
  font-size: 18px;
  color: #86928B;
}
.picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(2), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(2), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(2), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(2), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(2), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(2) {
  font-size: 30px;
  margin-top: -2%;
  margin-bottom: -2%;
}
.picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(3), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(3), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(3), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(3), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(3), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(3) {
  font-size: 18px;
  margin-bottom: 10%;
}
.picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(4), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(4), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(4), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(4), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(4), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(4) {
  font-size: 24px;
  color: #598D66;
}
.picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(5), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(5), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(5), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(5), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(5), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(5) {
  border: #598D66 solid;
  text-align: center;
  color: #598D66;
  padding-top: 20px;
  padding-bottom: 20px;
}

header, header .logo1, header .navigation, .menu, .reproduction, .picture_stroke1, .picture_stroke2, .canvas .new_collection .new_collection_elem1, .our_team, .our_team .our_team_elem1 .ellipse, footer, footer .basement_elem1 .logo, footer .basement_elem2, footer .basement_elem2 .basement_elem3, footer .basement_elem2 .icon .icon_elem1 {
  display: flex;
  flex-direction: row;
}

footer .basement_elem2 .new, footer .basement_elem2 .about_us {
  margin-left: 15%;
}
footer .basement_elem2 .new p:first-child, footer .basement_elem2 .about_us p:first-child {
  font-size: 20px;
}
footer .basement_elem2 .new p:nth-of-type(2), footer .basement_elem2 .about_us p:nth-of-type(2), footer .basement_elem2 .new p:last-child, footer .basement_elem2 .about_us p:last-child {
  font-size: 18px;
  color: #86928B;
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway.ttf);
}
body {
  margin: auto;
  display: block;
  background-color: #F4F6F5;
  font-family: "Raleway";
  color: #2C2D35;
  font-weight: 500;
}

.main {
  margin-left: 7%;
  margin-right: 7%;
}

@media (max-width: 1250px) {
  .menu img {
    max-width: 50%;
  }
  .menu .menu_elem1 {
    margin-left: 2%;
  }
  .menu .menu_elem1 p:first-child {
    font-size: 40px;
    margin-top: 15%;
  }
  .menu .menu_elem1 p:last-child {
    margin-top: 10%;
  }
  footer .basement_elem2 .icon {
    left: 350px;
  }
}
@media (max-width: 1200px) {
  .picture_stroke1 .picture_stroke1_elem1, .picture_stroke1 .picture_stroke1_elem2, .picture_stroke1 .picture_stroke1_elem3 {
    width: 260px;
  }
  .picture_stroke1 .picture_stroke1_elem1 img, .picture_stroke1 .picture_stroke1_elem2 img, .picture_stroke1 .picture_stroke1_elem3 img {
    width: 100%;
  }
  .picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(1), .picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(3), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(1), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(3), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(1), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(3) {
    font-size: 16px;
  }
  .picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(2), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(2), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(2) {
    font-size: 24px;
  }
  .picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(4), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(4), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(4) {
    font-size: 20px;
  }
  .picture_stroke1 .picture_stroke1_elem1 p:nth-of-type(5), .picture_stroke1 .picture_stroke1_elem2 p:nth-of-type(5), .picture_stroke1 .picture_stroke1_elem3 p:nth-of-type(5) {
    font-size: 18px;
  }
  .picture_stroke2 .picture_stroke2_elem1, .picture_stroke2 .picture_stroke2_elem2, .picture_stroke2 .picture_stroke2_elem3 {
    width: 260px;
  }
  .picture_stroke2 .picture_stroke2_elem1 img, .picture_stroke2 .picture_stroke2_elem2 img, .picture_stroke2 .picture_stroke2_elem3 img {
    width: 100%;
  }
  .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(3), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(3), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(1), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(3) {
    font-size: 16px;
  }
  .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(2), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(2), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(2) {
    font-size: 24px;
  }
  .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(4), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(4), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(4) {
    font-size: 20px;
  }
  .picture_stroke2 .picture_stroke2_elem1 p:nth-of-type(5), .picture_stroke2 .picture_stroke2_elem2 p:nth-of-type(5), .picture_stroke2 .picture_stroke2_elem3 p:nth-of-type(5) {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  footer .basement_elem2 .icon {
    left: 300px;
  }
}
@media (max-width: 1024px) {
  .picture_stroke3_media .picture_stroke3_elem1_media, .picture_stroke3_media .picture_stroke3_elem2_media, .picture_stroke2_media .picture_stroke2_elem1_media, .picture_stroke2_media .picture_stroke2_elem2_media, .picture_stroke1_media .picture_stroke1_elem1_media, .picture_stroke1_media .picture_stroke1_elem2_media {
    border: #E1EDE6 solid;
    background-color: #E1EDE6;
    padding: 3%;
    margin: auto;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media p:nth-of-type(1), .picture_stroke3_media .picture_stroke3_elem2_media p:nth-of-type(1), .picture_stroke2_media .picture_stroke2_elem1_media p:nth-of-type(1), .picture_stroke2_media .picture_stroke2_elem2_media p:nth-of-type(1), .picture_stroke1_media .picture_stroke1_elem1_media p:nth-of-type(1), .picture_stroke1_media .picture_stroke1_elem2_media p:nth-of-type(1) {
    font-size: 16px;
    color: #86928B;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media p:nth-of-type(2), .picture_stroke3_media .picture_stroke3_elem2_media p:nth-of-type(2), .picture_stroke2_media .picture_stroke2_elem1_media p:nth-of-type(2), .picture_stroke2_media .picture_stroke2_elem2_media p:nth-of-type(2), .picture_stroke1_media .picture_stroke1_elem1_media p:nth-of-type(2), .picture_stroke1_media .picture_stroke1_elem2_media p:nth-of-type(2) {
    font-size: 24px;
    margin-top: -2%;
    margin-bottom: -2%;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media p:nth-of-type(3), .picture_stroke3_media .picture_stroke3_elem2_media p:nth-of-type(3), .picture_stroke2_media .picture_stroke2_elem1_media p:nth-of-type(3), .picture_stroke2_media .picture_stroke2_elem2_media p:nth-of-type(3), .picture_stroke1_media .picture_stroke1_elem1_media p:nth-of-type(3), .picture_stroke1_media .picture_stroke1_elem2_media p:nth-of-type(3) {
    font-size: 16px;
    margin-bottom: 10%;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media p:nth-of-type(4), .picture_stroke3_media .picture_stroke3_elem2_media p:nth-of-type(4), .picture_stroke2_media .picture_stroke2_elem1_media p:nth-of-type(4), .picture_stroke2_media .picture_stroke2_elem2_media p:nth-of-type(4), .picture_stroke1_media .picture_stroke1_elem1_media p:nth-of-type(4), .picture_stroke1_media .picture_stroke1_elem2_media p:nth-of-type(4) {
    font-size: 20px;
    color: #598D66;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media p:nth-of-type(5), .picture_stroke3_media .picture_stroke3_elem2_media p:nth-of-type(5), .picture_stroke2_media .picture_stroke2_elem1_media p:nth-of-type(5), .picture_stroke2_media .picture_stroke2_elem2_media p:nth-of-type(5), .picture_stroke1_media .picture_stroke1_elem1_media p:nth-of-type(5), .picture_stroke1_media .picture_stroke1_elem2_media p:nth-of-type(5) {
    border: #598D66 solid;
    text-align: center;
    color: #598D66;
    padding-top: 18px;
    padding-bottom: 20px;
  }
  header .navigation {
    margin-right: 2%;
  }
  header .navigation p, header .navigation i {
    font-size: 18px;
  }
  .main {
    margin-left: 2%;
    margin-right: 2%;
  }
  .menu img {
    max-width: 45%;
  }
  .menu .menu_elem1 {
    margin-left: 2%;
  }
  .menu .menu_elem1 p:first-child {
    font-size: 36px;
    margin-top: 10%;
  }
  .menu .menu_elem1 p:last-child {
    margin-top: 5%;
  }
  .reproduction p:nth-of-type(2), .reproduction p:nth-of-type(3), .reproduction p:last-child {
    margin: auto;
  }
  .reproduction p:first-child {
    font-size: 30px;
  }
  .reproduction p:nth-of-type(3) {
    margin-left: -10%;
  }
  .reproduction p:last-child {
    margin-right: 2%;
    margin-left: -10%;
  }
  .canvas {
    display: none;
  }
  .canvas_media {
    display: block;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .canvas_media .gradient_media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .canvas_media .gradient_media .main_picture_media {
    filter: saturate(110%);
  }
  .canvas_media .gradient_media .main_picture_media img {
    width: 98.5vw;
    max-height: 95vh;
  }
  .canvas_media .gradient_media .background_picture_media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-size: cover;
    background: linear-gradient(to right, rgba(1, 1, 2, 0.75) 0%, rgba(13, 43, 67, 0.9) 45%, rgba(0, 0, 0, 0.1) 65%);
    filter: contrast(120%);
    height: 100%;
  }
  .canvas_media .gradient_media .background_picture_media img {
    max-width: 98.5vw;
    max-height: 95vh;
  }
  .canvas_media .gradient_media .filter_media {
    opacity: 0.4;
    height: 100%;
  }
  .canvas_media .new_collection_media {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 0;
    margin-top: 6%;
  }
  .canvas_media .new_collection_media p:nth-of-type(1) {
    font-size: 18px;
    line-height: 1.75;
    margin-top: 5%;
    margin-left: 5%;
    white-space: nowrap;
  }
  .canvas_media .new_collection_media p:nth-of-type(2) {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 1.5%;
    margin-left: 5%;
    white-space: nowrap;
  }
  .canvas_media .new_collection_media p:nth-of-type(3) {
    font-size: 20px;
    color: #2C2D35;
    border: #EEDB6D solid;
    background-color: #EEDB6D;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    max-width: 195px;
    margin-top: 4%;
    margin-left: 5%;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media p:nth-of-type(1) {
    font-size: 40px;
    line-height: 1;
    padding-right: 20%;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media p:nth-of-type(1), .canvas_media .new_collection_media .new_collection_elem1_media img {
    margin: auto;
  }
  .picture_stroke1, .picture_stroke2 {
    display: none;
  }
  .picture_stroke1_media {
    display: flex;
    flex-direction: row;
  }
  .picture_stroke1_media .picture_stroke1_elem1_media, .picture_stroke1_media .picture_stroke1_elem2_media {
    width: 280px;
  }
  .picture_stroke1_media .picture_stroke1_elem1_media img, .picture_stroke1_media .picture_stroke1_elem2_media img {
    width: 100%;
  }
  .picture_stroke1_media .picture_stroke1_elem1_media {
    margin-right: 2%;
  }
  .picture_stroke1_media .picture_stroke1_elem2_media {
    margin-left: 2%;
  }
  .picture_stroke2_media {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
  }
  .picture_stroke2_media .picture_stroke2_elem1_media, .picture_stroke2_media .picture_stroke2_elem2_media {
    width: 280px;
  }
  .picture_stroke2_media .picture_stroke2_elem1_media img, .picture_stroke2_media .picture_stroke2_elem2_media img {
    width: 100%;
  }
  .picture_stroke2_media .picture_stroke2_elem1_media {
    margin-right: 2%;
  }
  .picture_stroke2_media .picture_stroke2_elem2_media {
    margin-left: 2%;
  }
  .picture_stroke3_media {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media, .picture_stroke3_media .picture_stroke3_elem2_media {
    width: 280px;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media img, .picture_stroke3_media .picture_stroke3_elem2_media img {
    width: 100%;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media {
    margin-right: 2%;
  }
  .picture_stroke3_media .picture_stroke3_elem2_media {
    margin-left: 2%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .basement_elem1 {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  }
  footer .basement_elem1 .logo {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 80%;
  }
  footer .basement_elem1 .logo p {
    white-space: nowrap;
    padding-top: 12.5%;
  }
  footer .basement_elem1 p:nth-of-type(1) {
    margin-left: auto;
    margin-right: 9%;
    margin-top: -9%;
  }
  footer .basement_elem1 p:nth-of-type(2) {
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: 16%;
  }
  footer .new, footer .about_us {
    padding-left: 20%;
  }
  footer .icon {
    position: relative;
    top: -25px;
    margin-left: 12%;
  }
  footer .icon p {
    white-space: nowrap;
  }
  footer .icon i:first-child, footer .icon i:nth-of-type(2) {
    margin-right: 20%;
  }
}
@media (max-width: 930px) {
  .our_team {
    display: flex;
    flex-direction: column;
  }
  .our_team img {
    max-width: 60vw;
  }
  .our_team .our_team_elem1 {
    margin-top: -2%;
  }
  .our_team .our_team_elem1 p:first-child {
    font-size: 30px;
    margin-bottom: 3%;
  }
  .our_team .our_team_elem1 .ellipse {
    margin-top: 5%;
  }
  .our_team .our_team_elem1 .ellipse p:nth-of-type(1) {
    background-image: url("../style/pictures/Работник 1.png");
    background-size: contain;
    margin-left: 0;
  }
  .our_team .our_team_elem1 .ellipse p:nth-of-type(2) {
    background-image: url("../style/pictures/Работник 2.jpg");
    background-size: contain;
    margin-left: -45%;
    margin-right: -45%;
  }
  .our_team .our_team_elem1 .ellipse p:nth-of-type(3) {
    background-image: url("../style/pictures/Работник 3.jpg");
    background-size: contain;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .basement_elem1 {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  }
  footer .basement_elem1 .logo {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 80%;
  }
  footer .basement_elem1 .logo p {
    white-space: nowrap;
    padding-top: 12.5%;
  }
  footer .basement_elem1 p:nth-of-type(1) {
    margin-left: auto;
    margin-right: 9%;
    margin-top: -9%;
  }
  footer .basement_elem1 p:nth-of-type(2) {
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: 16%;
  }
  footer .basement_elem2 {
    display: flex;
    flex-direction: column;
  }
  footer .basement_elem2 .line {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  footer .basement_elem2 .basement_elem3 {
    margin: 0 auto;
  }
  footer .basement_elem2 .basement_elem3 .new, footer .basement_elem2 .basement_elem3 .about_us {
    padding-left: 15%;
  }
  footer .basement_elem2 .basement_elem3 .repr {
    margin-left: -30%;
  }
  footer .basement_elem2 .icon {
    position: sticky;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  footer .basement_elem2 .icon p {
    white-space: nowrap;
    display: inline;
  }
  footer .basement_elem2 .icon p:nth-of-type(1) {
    margin-left: -8%;
  }
  footer .basement_elem2 .icon i:first-child, footer .basement_elem2 .icon i:nth-of-type(2) {
    margin-right: 5%;
  }
  footer .basement_elem2 .icon i {
    margin-bottom: 2%;
  }
}
@media (max-width: 832px) {
  .canvas_media .gradient_media .main_picture_media img, .canvas_media .gradient_media .background_picture_media img {
    width: 98vw;
    max-height: 85vh;
  }
  .canvas_media .new_collection_media {
    position: absolute;
    top: 0;
    margin-top: 5%;
  }
  .canvas_media .new_collection_media p:nth-of-type(1), .canvas_media .new_collection_media p:nth-of-type(2) {
    font-size: 16px;
    line-height: 1.5;
  }
  .canvas_media .new_collection_media p:nth-of-type(3) {
    font-size: 18px;
    max-width: 185px;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media p:nth-of-type(1) {
    font-size: 30px;
  }
}
@media (max-width: 820px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .logo1 {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  header .line_header {
    display: block;
    max-width: 90%;
    margin-left: 5%;
  }
  header .navigation {
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  header .navigation p:first-child {
    margin-left: 0%;
  }
  header .navigation p, header .navigation i {
    font-size: 18px;
    margin: 0;
  }
  header .navigation p:nth-of-type(2), header .navigation p:nth-of-type(3) {
    margin-left: 10%;
  }
  header .navigation i {
    margin-left: auto;
    margin-right: 10%;
  }
  .menu img {
    max-width: 40%;
  }
  .menu .menu_elem1 {
    margin-left: 2%;
  }
  .menu .menu_elem1 p:first-child {
    font-size: 30px;
    margin-top: 10%;
  }
  .menu .menu_elem1 p:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
    margin-top: -2%;
  }
  .menu .menu_elem1 p:last-child {
    font-size: 18px;
    margin-top: 2%;
    max-width: 160px;
  }
  .reproduction {
    display: flex;
    flex-direction: column;
  }
  .reproduction p:first-child {
    font-size: 24px;
  }
  .reproduction .reproduction_elem1 p:first-child, .reproduction .reproduction_elem1 p:nth-of-type(2), .reproduction .reproduction_elem1 p:last-child {
    font-size: 18px;
  }
  .reproduction .reproduction_elem1 {
    margin-left: 24%;
    margin-bottom: 5%;
  }
  .picture_stroke1_media {
    display: flex;
    flex-direction: column;
  }
  .picture_stroke1_media .picture_stroke1_elem1_media {
    margin: 0 auto;
  }
  .picture_stroke1_media .picture_stroke1_elem2_media {
    margin: 0 auto;
    margin-top: 4%;
  }
  .picture_stroke2_media {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
  }
  .picture_stroke2_media .picture_stroke2_elem1_media {
    margin: 0 auto;
  }
  .picture_stroke2_media .picture_stroke2_elem2_media {
    margin: 0 auto;
    margin-top: 4%;
  }
  .picture_stroke3_media {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
  }
  .picture_stroke3_media .picture_stroke3_elem1_media {
    margin: 0 auto;
  }
  .picture_stroke3_media .picture_stroke3_elem2_media {
    margin: 0 auto;
    margin-top: 4%;
  }
}
@media (max-width: 670px) {
  .canvas_media .gradient_media {
    overflow: hidden;
  }
  .canvas_media .gradient_media .main_picture_media img, .canvas_media .gradient_media .background_picture_media img {
    width: 670px;
    height: 100%;
  }
  .canvas_media .new_collection_media {
    position: absolute;
    top: 0;
    margin-top: 3%;
  }
  .canvas_media .new_collection_media p:nth-of-type(1), .canvas_media .new_collection_media p:nth-of-type(2) {
    font-size: 14px;
    white-space: normal;
  }
  .canvas_media .new_collection_media p:nth-of-type(3) {
    font-size: 16px;
    max-width: 175px;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media p:nth-of-type(1) {
    font-size: 24px;
  }
  .canvas_media .new_collection_media .new_collection_elem1_media img {
    max-width: 10%;
  }
  footer {
    display: none;
  }
  .basement_media {
    display: flex;
    flex-direction: column;
    background-color: #E1EDE6;
  }
  .basement_media .logo_media {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .basement_media .logo_media img, .basement_media .logo_media p {
    margin: auto;
  }
  .basement_media .logo_media p {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
    margin-right: 63%;
    white-space: nowrap;
  }
  .basement_media .logo_media img {
    margin-left: 14%;
  }
  .basement_media .basement_elem1_media {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }
  .basement_media .basement_elem1_media .workshop p:first-child {
    font-size: 16px;
  }
  .basement_media .basement_elem1_media .workshop p:last-child {
    font-size: 16px;
    color: #86928B;
  }
  .basement_media .basement_elem1_media .repr_media {
    margin-left: auto;
    margin-right: 15%;
  }
  .basement_media .basement_elem1_media .repr_media p:first-child {
    font-size: 16px;
  }
  .basement_media .basement_elem1_media .repr_media p:nth-of-type(2), .basement_media .basement_elem1_media .repr_media p:nth-of-type(3), .basement_media .basement_elem1_media .repr_media p:last-child {
    font-size: 16px;
    color: #86928B;
  }
  .basement_media .basement_elem2_media {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }
  .basement_media .basement_elem2_media .new_media p:first-child, .basement_media .basement_elem2_media .about_us_media p:first-child {
    font-size: 20px;
  }
  .basement_media .basement_elem2_media .new_media p:nth-of-type(2), .basement_media .basement_elem2_media .new_media p:last-child, .basement_media .basement_elem2_media .about_us_media p:nth-of-type(2), .basement_media .basement_elem2_media .about_us_media p:last-child {
    font-size: 16px;
    color: #86928B;
  }
  .basement_media .basement_elem2_media .about_us_media {
    margin-left: auto;
    margin-right: 17%;
  }
  .basement_media .line_media {
    width: 80%;
    margin: 0 auto;
  }
  .basement_media .icon_media {
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 37.5%;
  }
  .basement_media .icon_media i {
    font-size: 120%;
    margin-bottom: 2%;
  }
  .basement_media .icon_media i:first-child, .basement_media .icon_media i:nth-of-type(2) {
    margin-right: 20%;
  }
  .basement_media .icon_media p {
    font-size: 12px;
    color: #86928B;
    display: inline;
  }
  .basement_media .icon_media p:nth-of-type(1) {
    margin-left: -15%;
  }
}
@media (max-width: 615px) {
  header .logo1 p {
    font-size: 18px;
  }
  header .navigation p:first-child {
    margin-left: 0%;
  }
  header .navigation p, header .navigation i {
    font-size: 16px;
  }
  header .navigation p:nth-of-type(2), header .navigation p:nth-of-type(3) {
    margin-left: 8%;
  }
  .menu img {
    display: none;
  }
  .menu .menu_elem1 {
    margin-left: 2%;
  }
  .menu .menu_elem1 p:first-child {
    font-size: 30px;
    margin-top: 10%;
  }
  .menu .menu_elem1 p:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
    margin-top: -2%;
  }
  .menu .menu_elem1 p:last-child {
    font-size: 18px;
    margin-top: 2%;
    max-width: 160px;
  }
}
@media (max-width: 582px) {
  .our_team .our_team_elem1 p:first-child {
    font-size: 24px;
  }
  .our_team .our_team_elem1 p:nth-of-type(2) {
    font-size: 16px;
  }
  .our_team .our_team_elem1 .ellipse p:nth-of-type(2) {
    margin-left: -20%;
    margin-right: -20%;
  }
}/*# sourceMappingURL=main.css.map */