.picture_stroke1{
    @extend %display;
    margin-left: -6%;
    margin-right: -6%;

    .picture_stroke1_elem1, .picture_stroke1_elem2, .picture_stroke1_elem3{
        @extend %picture_stroke_elem;
        width: 310px;

        & img{
            width: 100%;
        }
    }
}

.picture_stroke2{
    @extend %display;
    margin-top: 4%;
    margin-left: -6%;
    margin-right: -6%;

    .picture_stroke2_elem1, .picture_stroke2_elem2, .picture_stroke2_elem3{
        @extend %picture_stroke_elem;
        width: 310px;

        & img{
            width: 100%;
        }
    }
}

.picture_stroke1_media, .picture_stroke2_media, .picture_stroke3_media{
    display: none;
}