header{
    background-color: #E1EDE6;
    @extend %display;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    .logo1{
        @extend %display;
        margin-left: 10%;

        p{
            font-size: 20px;
            font-weight: 700;
            color: #598D66;
        }

        img, p{
            margin: auto;
        }
    }

    .line_header{
        display: none;
    }

    .navigation{
        margin-left: auto;
        margin-right: 7%;
        @extend %display;

        & p, & i{
            margin: auto;
            font-size: 20px;
        }

        & p:first-child{
            margin-left: -70%;
        }
    }
}